__pycache__/
*.pyc
.vscode/settings.json
NLSE/fft.wisdom
tex/benchmarks.pdf
tex/output.png
tex/paper.aux
tex/paper.bbl
tex/paper.bib
tex/paper.blg
tex/paper.fdb_latexmk
tex/paper.fls
tex/paper.log
tex/paper.pdf
tex/paper.synctex.gz
tex/paper.tex
tex/paperNotes.bib
.DS_Store
fft.wisdom
build/*
NLSE.egg-info/*
img/inheritance_graph.svg
mkdocs-documentation/site/
examples/*.npy
examples/*.svg

Archive.zip
benchmarks.pdf
