NLSE/__pycache__/*
__pycache__/*
.vscode/settings.json
tests/__pycache__/*
NLSE/fft.wisdom
tex/benchmarks.pdf
tex/output.png
tex/paper.aux
tex/paper.bbl
tex/paper.bib
tex/paper.blg
tex/paper.fdb_latexmk
tex/paper.fls
tex/paper.log
tex/paper.pdf
tex/paper.synctex.gz
tex/paper.tex
tex/paperNotes.bib
.DS_Store
fft.wisdom
build/*
NLSE.egg-info/*
tests/__pycache__/*
img/inheritance_graph.svg
mkdocs-documentation/site/
examples/__pycache__/*
examples/*.npy
examples/*.svg


Archive.zip
